.header{
    background:white; 
    padding-bottom: 20px;
    padding-top:20px;
    margin-top: 5px;    
}
.header img{ 
   width: 100px;
   height: 100px;
    margin-top: 0;
    float: left; 
}
.header .register-link{
    padding-right:20px; 
    padding-top: 10px;
    padding-left:20px;
    background-color: #f40caf;
    width: 50px;
    height: 30px;
    margin-left: 1250px;
    margin-bottom: 50px;
}
.header .register-link .link-button{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
.login-form{
    font-family: sans-serif; 
    background-image: url("../images/background.jpg");
    color:white; 
    width: 500px;
    height:250px;
    padding-left: 15px;
    padding-top: 15px;
    margin-right: 50px;
}
.login-form #email{
    width:250px;
    height:30px; 
    border-radius: 2px;
    margin-bottom: 20px;
}
.login-form #password{
    width:250px;
    height:30px; 
    border-radius: 2px;
}
.login-form #submit{
    color: white; 
    background-color: #f40caf;
    margin-top: 20px;
    padding:14px 40px;
    border:2px;
    border-radius: 2px;
}