.header{
    background:white; 
    padding-bottom: 20px;
    padding-top:20px;
    margin-top: 5px;    
}
.header img{ 
   width: 100px;
   height: 100px;
    margin-top: 0; 
    float: left;
}
.header .login-link{
    padding-right:20px; 
    padding-top: 10px;
    padding-left:10px;
    background-color: #f40caf;
    width: 50px;
    height: 30px;
    margin-left: 1250px;
    margin-bottom: 50px;
}
.header .login-link .link-button{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}
.register-form{
    font-family: sans-serif; 
    background-image: url("../images/background.jpg");
    color:white; 
    padding-bottom:30px;
    padding-left: 50px;
    padding-top: 30px;
    width:300px;
}
.register-form #name{
    width:250px;
    height:30px; 
    border-radius: 2px;
    margin-bottom: 20px;
}
.register-form #email{
    width:250px;
    height:30px; 
    border-radius: 2px;
    margin-bottom: 20px;
}
.register-form #password{
    width:250px;
    height:30px; 
    border-radius: 2px;
    margin-bottom: 20px;
}
.register-form #cpassword{
    width:250pxs;
    height:30px; 
    border-radius: 2px;
    margin-bottom: 20px;
}
.register-form #submit{
    color: white; 
    background-color: #f40caf;
    margin-top: 20px;
    padding:14px 40px;
    border:2px;
    border-radius: 2px;
}