.header{
    background:white; 
    padding-bottom: 20px;
    padding-top:20px;
    margin-top: 5px; 
     
}
.header img{ 
   width: 200px;
   height: 200px;
    margin-top: 0; 
}
.header .loginlink{
    padding-right:20px; 
    padding-top: 10px;
    background-color: #f40caf;
    width: 50px;
    height: 30px;
    margin-left: 1250px;
    margin-bottom: 50px;
}
.header .loginlink .link-button{
    font-family: sans-serif;
    color: white;
    text-decoration: none;
}


.header .nav ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    margin-left:1000px;
}

.header .nav ul li{
    text-align: left;
    display: inline-block;
}
.header .nav ul li a{
    display:block;
    color:grey;
    padding:12px 16px;
    text-decoration:none;
    font-family: sans-serif;
    font-size: 15px;
    padding-right:1px; 

}
.header .nav ul li .dropdown{
    min-width: 50px; /* Set width of the dropdown */
    background: white;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
    padding-right: 5px;
}
.header .nav ul li:hover .dropdown{
    display: block;
}
.header ul li .dropdown li{
    display: block;   
}
.header ul li .dropdown li a:hover{
    color:#f40caf;   
}
.about{
    color:white;
    background-image: linear-gradient(to left,teal,green);
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom:100px; 
    
}

.product{
    
    background: white;
    font-family: sans-serif;
    text-align:center;
    padding-top:30px;
    padding-bottom: 30px; 
}
.footer{
    padding-top: 20px;
    padding-bottom: 30px;
    color:white;
    background: black;
    font-family: sans-serif;
    font-size:20px;
}
.footer .address{
    float: left;
    width: 500px;
}
.footer .Contact{
    float:left;
    padding-left: 10px;
    padding-top: 10px;
    
}
.footer .form{
    margin-right: 50px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
.footer .form #name{
   width:25%;
    height:30px; 
    border-radius: 2px;
}
.footer .form #email{
    width:25%;
     height:30px; 
     border-radius: 2px;
 
 }
.footer .form #Message{
    width:25%;
    height:200px;
    border-radius: 2px;
}
.footer .form #submit{
    color: white; 
    background-color: #f40caf;
    margin-top: 20px;
    padding:14px 40px;
    border:2px;
    border-radius: 2px;
}