<!DOCTYPE html>
<head>
    <title>Website</title>
    <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="header">
            <div class="title" align="left">
                <header>
                <img src="./images/brown-circle-and-chocolate-coffee.png">
                </header>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/menu">Careers</a>
                    <ul class="dropdown">
                      <li>  <a href="/menu">Internship</a></li>
                       <li> <a href="/menu">Job</a></li>
                    </ul>
                    </li>
                <li> <a href='/menu0/'>Home</a></li>
               <li> <a href='/menu1/'>About</a></li>
              <li>  <a href='/menu2/'>Product</a></li>
               <li> <a href='/menu3/'>Contact</a></li>
               </ul>
            </div>
        </div>
    </body>
</html>